/* 雷达图组件样式 */
.h5_component_radar {

}

.h5_component_radar canvas {
  position: absolute;
  left: 0;
  top: 0;  /* 用canvas做动画， 会进行分层， 要用到z-index  */
  width: 100%;
  height: 100%;  /* 400*400 体现的是200*200的大小，充满父元素*/
}

.h5_component_radar .text {
  position: absolute;
  font-size: 12px;
  transition:  all 1s;
}
